{% extends 'base.html' %}
{% block title %}
Search
{% endblock title %}

{% block body %}

<div class="container my-3">
<h3>Search Results.....</h3>

{% if allPosts|length < 1  %}

Your Search <b>{{query}} </b> did not match any information

<br>
Suggestions:
<ul>

<li>
Make Sure That All Words Are Spelled Correctly
</li>

</ul>

{% endif %}

{% for  post in allPosts %}

      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <strong class="d-inline-block mb-2 text-primary"> {{post.title}}</strong>
          
            <a href="{{post.img.url}}"><img src="{{post.img.url}}"   class="img-fluid" height="500px" width="500px" alt=""></a>
           <br>
          <h6 class="d-inline-block mb-2 text-success">Posted By : {{post.authname}}</h6>
          <div class="mb-1 text-muted"><b>{{post.timeStamp}}</b></div>
          <p class="card-text mb-auto">{{post.description}}</p>
          <div class="my-2">
          
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
      </div>
    </div>
    {% endfor %}

</div>

{% endblock body %}